#bg {
  height: 650 px;
  background-image: url("../../assets/images/landin.png");
  background-size: 100%;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: century gothic;
}
  
  .spacer {
    flex: 0;
    flex-grow: 500;
  }

  
  .toolbar {
    font-family: century gothic;
    font-size: small;
    margin-right: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 11%;
    width: 100%;
    display: flex;
    align-items: center;
  
    color: white;
    font-weight: 500;
  }
  
  .button {
    font-family:  century gothic;
    font-size: small;
    padding: 0px;
    position: absolute;
    margin-top: 300px;
    height: 30px;
    width: 160px;
    border-radius: 20px;
    background-color:white;
    left: 84px;
    font-weight: 500;
}

  
  a,
  a:visited,
  a:hover {
    color: #ffffff;
    text-decoration: none;
    flex-grow: 0.1;
    margin-right: 10px;
    margin-inline-start: 15px;
  }
  
  a:hover {
    color: #cccccc;
  }



  
  