<div id="bg">
<div  class="toolbar" style="width: auto;">
    <a style="text-decoration-line: underline;">User</a>
    <div class="spacer"> </div>
    <a  routerLink="/project">Projects</a>
    <div class="spacer"> </div>
    <a routerLink="/cproject">Create Project</a>
    <div class="spacer"> </div>
    <a   routerLink="/login">Logout</a> 
</div>
<mat-card>
 <mat-card-header class="header"></mat-card-header>
    <mat-card-content class="cards">
        <div >
            <table mat-table matSort  [dataSource]="dataSource">
          
              <!-- Name Column -->
              <ng-container  matColumnDef="name">
                <th  mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
         
              <ng-container matColumnDef="role">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role ===''? '':element.role}} </td>
              </ng-container>
        
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">  
                <button style="background-color: #0A4232; color: white;" class="button" *ngIf="element.role !==''" (click)="Updateuser(element.id)" mat-raised-button >Update</button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
           
          </div>
    </mat-card-content>
  </mat-card>
  </div>