
<div  id="bg" class="all">
<mat-card class="card">
    <mat-card-content >
        <form  [formGroup]="loginform" (ngSubmit)="proceedlogin()" >
           
            <mat-form-field class="form" >
              <mat-label>Username</mat-label>
              <input  matInput formControlName="username" >
            </mat-form-field>

              <mat-form-field class="form" >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" >
              </mat-form-field>
            
              <div>
                <button style="left: 50px;" expand="block" class="button">Login</button>
               <br><br> <label style="font-size: small;">Don't have an account? </label>
                <a style="left:160px;  color: #0A4232;"  routerLink="/register">Signup</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>
</div>
