/* You can add global styles to this file, and also import other style files */
.background-image {
    background-image: url('./assets/images/bg.png');
    background-size: cover;
    background-position: center;
  }
html, body { height: 100%; }
body { margin: 0; font-family: century gothic, "Helvetica Neue", sans-serif; }

