<div id="bg" class="all">
<mat-card class="card">
   
    <mat-card-content >
        <form class="form" [formGroup]="registerform" (ngSubmit)="Proceedregister()">

            <mat-form-field class="input">
              <mat-label>Username</mat-label>
              <input matInput formControlName="id" >
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>

              <mat-form-field class="input">
                <mat-label>Password</mat-label>
                <input type="password"  matInput formControlName="password" >
              </mat-form-field>

  
              <div>
                <button style="background-color: #0A4232; color: white;" class="button" mat-raised-button >Sign Up</button>
                <br><br> <label style="font-size: small;" class="label">Already have an account? </label>
                <a style="left:75px;  color: #0A4232;"  routerLink="/login" >Login</a>
              </div>
          </form>
    </mat-card-content>
  </mat-card>
  </div>
